<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>{{profile_object.name}}</h2>
    <h2>{{profile_object.email}}</h2>
    <h2>{{profile_object.phone}}</h2>
    <hr>
    <br>
    <p>Summary</p>
    <p>{{profile_object.summary}}</p>
    <hr>
    <p>Skills</p>
    <p>{{profile_object.skills}}</p>
    <hr>
    <p>Education</p>
    <ul>
        <li>{{profile_object.school}}</li>
        <li>{{profile_object.university}}</li>
    </ul>
    <hr>
    <p>Previous Work</p>
    <p>{{profile_object.previous_work}}</p>

</body>
</html>